name: Cypress Tests

on:
  push:
    branches:
      [main, staging]
  pull_request:
    branches:
      [main, staging]
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      # Step 1: Checkout the repository
      - name: Checkout
        uses: actions/checkout@v4
      
      # Step 2: Setup Node.js
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with: 
          node-version: '20'
      
      # Step 3: Cache npm dependencies
      - name: Cache npm dependencies
        uses: actions/cache@v4
        with:
          path: ~/.npm
          key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-node-
      
      # Step 4: Install dependencies
      - name: Install dependencies
        run: npm ci
      
      # Step 5: Run Cypress E2E tests
      - name: Run Cypress E2E Test 
        run: npm run faker-register-test
        env:
          CYPRESS_RECORD_KEY: ${{ secrets.CYPRESS_RECORD_KEY }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      
      # Step 6: Archive Results Report
      - name: Cypress Regression E2E Test Report
        uses: actions/upload-artifact@v4
        with:
           name: regression-test-report
           path: cypress/downloads/regression-test-report.html

      # Step 7: Archive Screenshot 
      - name: Cypress Screenshot - Test Evidences
        uses: actions/upload-artifact@v4
        with:
           name: checkout_screenshot
           path: cypress/screenshots/

      # Step 8: Upload report to GitHub Pages artifact
      - name: Upload GitHub Pages artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: cypress/downloads/ # Ensure the directory is uploaded, not just the file

  deploy:
    needs: test
    runs-on: ubuntu-latest
    permissions:
      pages: write
      id-token: write

    steps:
      # Step 1: Checkout the repository
      - name: Checkout
        uses: actions/checkout@v4

      # Step 2: Deploy to GitHub Pages
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4